<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conversionRule conversionWord="maskedMsg" converterClass="com.kittyp.common.logging.PiiMaskingConverter" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %maskedMsg%n</pattern>
		</encoder>
	</appender>

	<logger name="SECURITY_AUDIT" level="WARN" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
